<h2>New books</h2>
<%= form_with model:@book,local:true do |f| %>

  <lavel for=book_title>Title</lavel>
  <%= f.text_field :title %>
  
  <lavel for=book_body>Body</lavel>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
  
<% end %>
